# This file is only for local development / testing / CICD.
# It is not used by Home Assistant.

PyYAML~=6.0
# pymodbus>3.6.3
git+https://github.com/pymodbus-dev/pymodbus.git@54c734c823bbaf9d3915fa29f9460eb0b11ce197
homeassistant~=2023.12
pytest~=7.0
pytest-cov~=4.0
pytest-homeassistant-custom-component~=0.13
pytest-xdist~=3.0
beartype
httpx~=0.25
websocket-client~=1.7

# scripts
tabulate
types-tabulate
requests

# code quality
mypy
ruff

types-PyYAML
homeassistant-stubs
types-requests
